.axis_card{
  max-height: 500px;
  max-width: 100%;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

model-viewer#interaction {
  --poster-color: transparent;
}
.card
{
  border-radius: 0rem;
}
