<nav  class="navbar navbar-light axis_header">
  <a href="https://www.axiscades.com" target="_blank"> <img src="../../assets/AxiscadesWithLogo.png" style="height: fit-content;"></a>
  <form class="form-inline my-2 my-lg-0">
    <a class="btn  my-2 my-sm-0" href= "https://www.axiscades.com/who-are-we.html" target="_blank"> About </a>
    <a class="btn  my-2 my-sm-0" href= "https://www.axiscades.com/contact.html" target="_blank"> Contact </a>
    <!-- <button class="btn  my-2 my-sm-0" (click)="logout()">
      <img src="../../assets/log-out.svg" alt="logout"> Logout</button> -->
  </form>
</nav>
<div class="container-fluid">
     <app-subnav> </app-subnav>
</div>


<!-- <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->
