<!-- <div class="row ax_overview">
  <div class="col-8" >
    <div class="row">
      <div class="col">

          <div class="embed-responsive embed-responsive-16by9" >
            <iframe class="embed-responsive-item" src="../../../assets/AXISCADES.mp4" style="width: 100%;" height="300px" allowfullscreen></iframe>
        </div>
       </div>

      <div class="col">
        <div class="card-body text-center">
          <i class="fas fa-envelope text-primary mb-2"></i>
          <h4 class="text-uppercase m-0"><a class="dropdown-item" href="#" routerLink="/pcountdisplay28"
            ><img src="../../../assets/functions/multidoor.jpg"  width="100%" height="200px"></a
          ></h4>
          <a href="#!" style="font-size: 30px;"> pDisplay 28</a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-body text-center">
          <i class="fas fa-mobile-alt text-primary mb-2"></i>
          <h4 class="text-uppercase m-0"><a class="dropdown-item" href="#" routerLink="/pcountSense14d"
          ><img src="../../../assets/functions/multidoor.jpg"  width="100%" height="200px"></a
        ></h4>
        <a href="#!" style="font-size: 30px;">  pSense 14D</a>

        </div>
      </div>
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9" >
          <iframe class="embed-responsive-item" src="../../../assets/AXISCADES.mp4" style="width: 100%;" height="300px" allowfullscreen></iframe>
      </div>
      </div>




    </div>
  </div>
  <div class="col-4">
    <h1 class="ax_font" style="margin-top: 10%;">Real time Occupancy Monitoring Solution</h1>
    <h4 >- Counts Person entering and Exiting through a door</h4>
    <h4> - Remote display of  Occupancy Count and Status</h4>
    <h4> - Aggregation Algorithm for room with multiple doors</h4>
    <h4> - IN/OUT Logs with Timestamp</h4>
    <h4> - Optional Remote Web Monitoring</h4>
  </div>
</div>
<app-Features></app-Features>
<app-Functions></app-Functions>
https://173.248.136.206:9876/ -->
<div class="card bg-light border rounded-3 axis_card solid">
  <h5 class="card-header">pSense Products</h5>
  <div class="card-body" >
    <iframe src="http://173.248.136.206:9876/" width="1840" height="750"></iframe>
  </div>
</div>
