<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/overview"
            routerLinkActive="active"
          >
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/features">Features</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Specifications
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" routerLink="/pcountSense"
                >pSense</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/pcountdisplay28"
                >pDisplay 28</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/pcountSense14d"
                >pSense 14D</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="/pcountSense28d"
                >pSense 28D</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/functions"
            >Functions</a
          >
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
