<hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">Specifically Designed for Single/Double Doors​</h2>
        <p class="lead">Comming Soon...</p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/functions/multidoor.jpg" width="100%" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading">Max Ceiling height XXX​</h2>
        <p class="lead">Comming Soon...</p>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="../../../assets/functions/FieldView.png" width="100%" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">Low light Functionality​</h2>
        <p class="lead">Comming Soon...</p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/functions/lowlight.jpg" width="100%" height="500">
      </div>
    </div>

    <hr class="featurette-divider">
